.chamada  {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: var(--branco);
    text-align: center;
    
    background-color: var(--bg-chamada-mobile);

    padding-top: 12.25rem;
    padding-bottom: 2.5rem;
}

.chamadaTitulo {
    font-family: var(--montserrat);
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;

    margin-bottom: 1.5rem;
}

.chamadaTexto {
    font-size: 1.25rem;
    line-height: normal;

    margin: 0 auto 2.5rem;
}

.chamadaBotao {
    width: 100%;
}
/*abaixo estou informando que aquando minha width for 610+ vai obedecer determinada condição dentro do bigode , e o screen and informa que é pra fazer isso só quando for tela --print and é pra quando for impressora*/
@media screen and(min-width:768px) {
    .chamadaTexto{
        max-width: 600px;

    }
}

@media screen and(min-width:1024px) {
    .chamada{
        background-image:url(../img/bg-intro.jpg);
        background-size: cover;
        
        padding-top:8.25rem;
        
    }

    .chamadaTitulo{
        font-size:3.25rem;
        margin-bottom: 2rem;
        
    }
}

